<main class="main">
  <div class="profile">
    <div class="first-half">
      <img class="dp" src="https://cdn4.sharechat.com/WhatsAppdp_1c834b00_1586018334000_cmprsd_40.jpg" alt="">
      <img class="role" src="assets/student-profile.jpg" alt="">
    </div>
    <div class="second-half">
      <div class="flex flex-row justify-between mt-16">
        <span class="username">{{userData.name}}</span>
        <span class="roll-no">{{userData.employeeNo?userData.employeeNo:userData.admissionNo}}</span>
      </div>
      <div class="flex flex-row justify-between mt-2">
        <div class="flex flex-col px-10">
          <label for="" class="label">Phone</label>
          <span class="text-secondary">{{userData.phoneNumber}}</span>
        </div>
        <div class="flex flex-col px-10">
          <label for="" class="label">Email</label>
          <span class="text-secondary">{{userData.email}}</span>
        </div>

      </div>
    </div>
  </div>

  <span class="details-head">Basic Details</span>
  <div class="details mt-10 flex flex-row justify-around items-center">

    <div>
      <span class="flex flex-row">Gender <span class="text-sub -mt-1 ml-5">Male</span></span>
      <hr>
      <br>
      <span class="flex flex-row">Date of Birth <span class="text-sub -mt-1 ml-5">07/02/2002</span></span>
      <hr>
      <br>
      <span class="flex flex-row">Aadhar Number <span class="text-sub -mt-1 ml-5">32*****4250</span></span>

    </div>
    <div class="box-detail">
      <span class="flex flex-row">Gender <span class="text-sub -mt-1 ml-5">Male</span></span>
      <hr>
      <br>
      <span class="flex flex-row">Date of Birth <span class="text-sub -mt-1 ml-5">07/02/2002</span></span>
      <hr>
      <br>
      <span class="flex flex-row">Aadhar Number <span class="text-sub -mt-1 ml-5">32*****4250</span></span>
      <hr>
      <br>
      <span class="flex flex-row">Phone Number <span class="text-sub -mt-1 ml-5">89878***44</span></span>
    </div>
    <div>

    </div>
  </div>

  <span class="details-head">Admission Details</span>
  <div class="details mt-10 flex flex-row justify-around items-center">

    <div>
      <span class="flex flex-row">Gender <span class="text-sub -mt-1 ml-5">Male</span></span>
      <hr>
      <br>
      <span class="flex flex-row">Date of Birth <span class="text-sub -mt-1 ml-5">07/02/2002</span></span>
      <hr>
      <br>
      <span class="flex flex-row">Aadhar Number <span class="text-sub -mt-1 ml-5">32*****4250</span></span>

    </div>
    <div class="box-detail">
      <span class="flex flex-row">Gender <span class="text-sub -mt-1 ml-5">Male</span></span>
      <hr>
      <br>
      <span class="flex flex-row">Date of Birth <span class="text-sub -mt-1 ml-5">07/02/2002</span></span>
      <hr>
      <br>
      <span class="flex flex-row">Aadhar Number <span class="text-sub -mt-1 ml-5">32*****4250</span></span>
      <hr>
      <br>
      <span class="flex flex-row">Phone Number <span class="text-sub -mt-1 ml-5">89878***44</span></span>
    </div>
    <div>

    </div>
  </div>

  <span class="details-head">Guardian Details</span>
  <div class="details mt-10 flex flex-row justify-around items-center">

    <div>
      <span class="flex flex-row">Gender <span class="text-sub -mt-1 ml-5">Male</span></span>
      <hr>
      <br>
      <span class="flex flex-row">Date of Birth <span class="text-sub -mt-1 ml-5">07/02/2002</span></span>
      <hr>
      <br>
      <span class="flex flex-row">Aadhar Number <span class="text-sub -mt-1 ml-5">32*****4250</span></span>

    </div>
    <div class="box-detail">
      <span class="flex flex-row">Gender <span class="text-sub -mt-1 ml-5">Male</span></span>
      <hr>
      <br>
      <span class="flex flex-row">Date of Birth <span class="text-sub -mt-1 ml-5">07/02/2002</span></span>
      <hr>
      <br>
      <span class="flex flex-row">Aadhar Number <span class="text-sub -mt-1 ml-5">32*****4250</span></span>
      <hr>
      <br>
      <span class="flex flex-row">Phone Number <span class="text-sub -mt-1 ml-5">89878***44</span></span>
    </div>
    <div>

    </div>
  </div>

  <span class="details-head">Scholarship Details</span>
  <div class="details mt-10 flex flex-row justify-around items-center">

    <div>
      <span class="flex flex-row">Gender <span class="text-sub -mt-1 ml-5">Male</span></span>
      <hr>
      <br>
      <span class="flex flex-row">Date of Birth <span class="text-sub -mt-1 ml-5">07/02/2002</span></span>
      <hr>
      <br>
      <span class="flex flex-row">Aadhar Number <span class="text-sub -mt-1 ml-5">32*****4250</span></span>

    </div>
    <div class="box-detail">
      <span class="flex flex-row">Gender <span class="text-sub -mt-1 ml-5">Male</span></span>
      <hr>
      <br>
      <span class="flex flex-row">Date of Birth <span class="text-sub -mt-1 ml-5">07/02/2002</span></span>
      <hr>
      <br>
      <span class="flex flex-row">Aadhar Number <span class="text-sub -mt-1 ml-5">32*****4250</span></span>
      <hr>
      <br>
      <span class="flex flex-row">Phone Number <span class="text-sub -mt-1 ml-5">89878***44</span></span>
    </div>
    <div>

    </div>
  </div>
</main>
